.rules {
  max-width: 800px;
  margin: auto;
  text-align: center;
  h1 {
    font-size: 38px;
  }
  .rulesList {
    max-width: 700px;
    text-align: left;
    margin: 0 auto 30px;
    font-size: 26px;
  }
}